@model IEnumerable<Major_Project.Models.Staff>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff_Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff_Contact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff_Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff_Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff_Contact)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Page Details-->
<div id="services">
    <div class="line">
        <h2 class="section-title">What we do</h2>
        <div class="margin">
            <div class="s-12 m-6 l-4 margin-bottom">
                <i class="icon-vector"></i>
                <div class="service-text">
                    <h3>We look to the future</h3>
                    <p>With so many options at car shoppers’ fingertips, Customer Experience (CX) professionals face increased pressure to design positive, informative and memorable experiences that drive in-market shoppers to the dealership and turn customers and loyal brand advocate.</p>
                </div>
            </div>
        </div>
    </div>
</div>